<footer>
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
			<h4>Made possible by:</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-lg-offset-3 col-md-offset-2 col-sm-4 col-donor">
			<a href=""><img class="donor" src="/img/logo-1.png"></a>
		</div>
		<div class="col-lg-2 col-sm-4 col-donor">
			<a href=""><img class="donor" src="/img/logo-2.png"></a>
		</div>
		<div class="col-lg-2 col-sm-4 col-donor">
			<a href=""><img class="donor" src="/img/logo-3.png"></a>
		</div>
	</div>
</footer>