<footer>
	<div class="row">
		<div class="col-lg-3 col-lg-offset-3 col-md-8 col-md-offset-2">
			<p class="made-by">
				Made by Khadija Sharife and Jeremy Weate<br><br>
				<a class="btn btn-extractives" href="mailto:ksharife@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> Get in touch</a>
			</p>
		</div>
		<div class="col-lg-3">
			<p class="made-by">
				With support from <a href="http://code4sa.org/">Code for South Africa<img class="donor" src="img/logo-1.png"></a>
			</p>
		</div>
	</div>
</footer>