<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Between oil law and offshore oil industry">

    <!-- OPEN-GRAPH -->
    <meta property="og:title" content="Between oil law and offshore oil industry" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://code4sa.org/offshore-oil" />
    <meta property="og:image" content="http://code4sa.org/offshore-oil/img/header.jpg">
    <meta property="og:locale" content="en_GB" />
    <meta property="og:description" content="Tensions, contradictions, loopholes and revenue in deepwater oil legislation" />
    <meta property="og:site_name" content="Code for South Africa" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Between oil law and offshore oil industry">
    <meta name="twitter:description" content="Tensions, contradictions, loopholes and revenue in deepwater oil legislation">
    <meta name="twitter:url" content="http://code4sa.org/offshore-oil" />
    <meta name="twitter:image" content="http://code4sa.org/offshore-oil/img/header.jpg">

    <link href="favicon.ico" rel="shortcut icon" />
    <title>Between oil law and offshore oil industry</title>

    <!-- FONTS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <!-- CSS -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
