<div id="header-image">
    <div class="row logo">
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
            <a href="http://code4sa.org/offshore-oil"><img class="logo center-block" src="img/nigeria.png"/></a>
        </div>
    </div>
    <div class="row title-row hidden-xs hidden-sm">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
            <h3 class="title">Tensions, contradictions, loopholes and revenue in deepwater oil legislation</h3>
            <p class="social-buttons-large">
                <a target="_blank" class="btn btn-facebook" href="http://www.facebook.com/sharer/sharer.php?u=http://www.code4sa.org/offshore-oil"><i class="fa fa-fw fa-facebook-official" aria-hidden="true"></i> Share</a> <a class="btn btn-twitter" target="_blank" href="https://twitter.com/intent/tweet?text=www.code4sa.org/offshore-oil"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i> Tweet</a>
            </p>
        </div>
    </div>
</div>

<!-- header image in public domain: https://commons.wikimedia.org/wiki/File:An_oil_rig_offshore_Vungtau.jpg -->