<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nigerian Extractives">

    <!-- OPEN-GRAPH -->
    <meta property="og:title" content="Nigerian Extractives title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://code4sa.org/extractives" />
    <meta property="og:image" content="{{ 'img/header.jpg' | prepend: site.url }}">
    <meta property="og:locale" content="en_GB" />
    <meta property="og:description" content="Nigerian Extractives description" />
    <meta property="og:site_name" content="Nigerian Extractives site name" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="{{ site.twitter_username }}" />
    <meta name="twitter:creator" content="{{ site.twitter_username }}" />
    <meta name="twitter:title" content="Nigerian Extractives title">
    <meta name="twitter:description" content="Nigerian Extractives description">
    <meta name="twitter:url" content="http://code4sa.org/extractives" />
    <meta name="twitter:image" content="{{ 'img/header.jpg' | prepend: site.url }}">

    <link href="favicon.ico" rel="shortcut icon" />
    <title>Nigerian Extractives title</title>

    <!-- FONTS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <!-- CSS -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
